<div class="container">
    <div fxLayout="row" fxLayoutAlign="center start" class="pt-3">
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="dateFormControl">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    </div>

    <app-loader></app-loader>
    <app-nutrition [hidden]="!date" [date]="date"></app-nutrition>
    <app-activity [hidden]="!date" [date]="date"></app-activity>
    <app-other [hidden]="!date" [date]="date"></app-other>
</div>