<mat-toolbar class="primary-background">
    <div fxFlex fxLayout="row wrap">
        <div fxFlex fxLayoutAlign="start center">
            <ng-content select="[left-side-content]"></ng-content>
        </div>
        <div fxFlex fxLayoutAlign="center center">
            <ng-content select="[center-content]"></ng-content>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <ng-content select="[right-side-content]"></ng-content>
        </div>
    </div>
</mat-toolbar>
