.login-content {
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
}

.full-height {
  height: 100%;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  padding-right: 1em;
}
