<div class="container full-height">
    <div fxLayout="column" fxFlex="grow" fxLayoutAlign="start center" class="pt-3" fxFlexAlign="center">
        <a class="btn login-content" [href]="googleAuthUrl">
        <div fxFlex >
            <img src="assets/google-logo.png" class="d-inline-block" alt="Google" />
            <span class="login-title d-inline-block">Log in with Google</span>
        </div>
        </a>
    </div>
</div>