<div fxLayout="row" fxLayout="start start" class="pt-3">
    <h2>{{title}}</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start" class="pt-3" fxLayout.lt-sm="column">
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((activity.steps/stepsLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Steps')">
                add_circle_outline</mat-icon>
            <p class="statistic statistic-text">{{activity.steps | number: '0.0-1'}}/{{stepsLimit | number: '0.0-1'}}
            </p>
            <p class="spinner-label">Steps</p>
        </div>
    </div>
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((activity.exercise/exerciseLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Exercise')">
                add_circle_outline</mat-icon>
            <p class="statistic">{{activity.exercise | number: '0.0-1'}}/{{exerciseLimit | number: '0.0-1'}}</p>
            <p class="spinner-label">Exercise</p>
        </div>
    </div>
</div>
<mat-divider></mat-divider>