.title {
  margin-top: 15px;
  font-weight: bolder;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
}

mat-form-field {
  padding-left: 15px;
}

.add-client {
  margin-bottom: 15px;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-name,
.mat-column-id {
  max-width: 64px;
}

.mat-column-email {
  max-width: 124px;
}
