mat-progress-spinner {
  grid-area: 1 / 1 / 2 / 2;
}

.spinner-container {
  display: grid;
  padding-top: 10px;
  width: min-content;
}

.spinner-label {
  text-align: center;
}

:host ::ng-deep .track circle {
  stroke-opacity: 0.25 !important;
  stroke: rgba(254, 126, 109, 1);
}

:host ::ng-deep .progress-path circle {
  stroke: rgba(254, 126, 109, 1) !important;
}

.add-icon {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
  color: rgba(254, 126, 109, 0.5);
  visibility: hidden;
}

.spinner-container:hover .add-icon {
  transform: scale(1.5);
  transition: 0.8s;
  color: rgba(254, 126, 109, 1);
  visibility: visible;
}

.spinner-container:hover .statistic {
  visibility: hidden;
}

.statistic {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
  line-height: 2.5em;
  height: 50%;
  margin: 0px;
  vertical-align: middle;
  padding: 10px;
  font-weight: bold;
}
