<core-toolbar [hidden]='!isLoggedIn'>
    <div left-side-content class="title">
        <div fxFlex fxLayout='column'>Fit-App</div>
        <div *ngIf="!!user && roles.includes('TRAINER')" fxFlex fxLayout="column"
            class="link" [routerLink]="['/trainer-view/client-list/', user.id]">
            Clients
        </div>
        <div *ngIf="!!user && roles.includes('CLIENT')" fxFlex fxLayout="column"
            class="link" [routerLink]="['/client-view/report']">
            Report
        </div>
    </div>
    <div *ngIf="isLoggedIn" right-side-content (click)="logout()" class="link">
        Logout
    </div>
</core-toolbar>
<router-outlet></router-outlet>