<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="dialog-content">
    <mat-label>{{data.field}}</mat-label>
    <input *ngIf="data.numberOnly" #dialogInput appOnlyNumber matInput [(ngModel)]="data.value" (focus)="onFocus()">
    <input *ngIf="!data.numberOnly" #dialogInput matInput [(ngModel)]="data.value" (focus)="onFocus()">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="space-between center">
  <button class="dialog-button" mat-button (click)="onNoClick()">Close</button>
  <button class="dialog-button" mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>