<div fxLayout="row" fxLayout="start start" class="pt-3">
    <h2>{{title}}</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start" class="pt-3" fxLayout.lt-sm="column">
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((nutritions.protein/proteinLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Protein')">
                add_circle_outline</mat-icon>
            <p class="statistic">{{nutritions.protein | number: '0.0-1'}}/{{proteinLimit}}</p>
            <p class="spinner-label">Protein</p>
        </div>
    </div>
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((nutritions.carbohydrates/carbohydratesLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Carbohydrates')">
                add_circle_outline</mat-icon>
            <p class="statistic">{{nutritions.carbohydrates | number: '0.0-1'}}/{{carbohydratesLimit}}</p>
            <p class="spinner-label">Carbohydrates</p>
        </div>
    </div>
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((nutritions.fat/fatLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Fat')">
                add_circle_outline</mat-icon>
            <p class="statistic">{{nutritions.fat | number: '0.0-1'}}/{{fatLimit}}</p>
            <p class="spinner-label">Fat</p>
        </div>
    </div>
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((nutritions.calories/caloriesLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Calories')">
                add_circle_outline</mat-icon>
            <p class="statistic">{{nutritions.calories | number: '0.0-1'}}/{{caloriesLimit}}</p>
            <p class="spinner-label">Calories</p>
        </div>
    </div>
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((nutritions.fiber/fiberLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Fiber')">
                add_circle_outline</mat-icon>
            <p class="statistic">{{nutritions.fiber | number: '0.0-1'}}/{{fiberLimit}}</p>
            <p class="spinner-label">Fiber</p>
        </div>
    </div>
</div>
<mat-divider></mat-divider>