<div fxLayout="row" fxLayout="start start" class="pt-3">
    <h2>{{title}}</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start" class="pt-3" fxLayout.lt-sm="column">
    <div fxFlex="25%">
        <div class="spinner-container">
            <mat-progress-spinner class="track" mode="determinate" value="100"></mat-progress-spinner>
            <mat-progress-spinner class="progress-path" mode="determinate"
                [value]="((other.sleep/sleepLimit)*100) | number: '0.0-2'">
            </mat-progress-spinner>
            <mat-icon aria-hidden="false" aria-label="Add icon" class="add-icon" (click)="openDialog('Sleep')">
                add_circle_outline</mat-icon>
            <p class="statistic statistic-text">{{other.sleep | number: '0.0-1'}}/{{sleepLimit | number: '0.0-1'}}</p>
            <p class="spinner-label">Sleep</p>
        </div>
    </div>
</div>
<mat-divider></mat-divider>